[build]
  command = "mkdir -p dist/static && cp -r static/* dist/static/ && cp requirements.txt netlify/functions/api/ && cp app.py netlify/functions/api/ && cp -r templates netlify/functions/api/"
  publish = "dist"
  functions = "netlify/functions"

[build.environment]
  PYTHON_VERSION = "3.11"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
